
<%- include('include/_header') %>

<div class="jumbotron">
    <div class="container text-center">

        <h1>WELCOME</h1>
        <h3>--- ADDING A NEW USER ---</h3>

        <a href="/users"><button class="btn btn-primary">BACK</button></a>

    </div>
</div>

<div class="Container container-sm">

    <form action="/users/add-user" method="POST" id="add-user">
        <div class="new_user">

        <%- include('include/_form')  %>

        </div>
    </form>

</div>

<%- include('include/_footer') %>
