
<%- include('include/_header') %>

<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/252.jpg');
        height: 300px;
        "></div>
    <!-- Background image -->

    <div class="container container-sm">
        <div class="card mx-4 mx-md-5 shadow-5-strong"
             style="
             margin-top: -100px;
             background: hsla(0, 0%, 100%, 0.8);
             backdrop-filter: blur(30px);">

            <div class="card-body py-5 px-md-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="fw-bold mb-5">ADD NEW</h2>
                        <hr>

                        <form action="<%= "/gpu/update-gpu/" + gpu.id + "?_method=PATCH"%>" method="POST" id="add-user">

                            <%- include('include/_editGPUForm')  %>

                            <button class="btn btn-dark btn-lg btn-rounded px-5 mr-3" type="submit">SUBMIT</button>
                            <a href="/gpu"><button class="btn btn-dark btn-lg btn-rounded px-5" type="button">BACK</button></a>

                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

<%- include('include/_footer') %>
