
<%- include('include/_header') %>

<div class="jumbotron">
    <div class="container text-center">

        <h1>WELCOME</h1>
        <h3>ADDING A NEW USER</h3>

        <a href="/users"><button type="submit" id="submitBtn" class="btn btn-primary">BACK</button></a>

    </div>
</div>

<div class="Container container-sm">

    <form action=" <%= "/users/update-user/" + user.id %> " method="POST">

        <%- include('include/_form')  %>

    </form>

</div>

<%- include('include/_header') %>
