
<%- include('include/_header') %>

<div class="jumbotron">
    <div class="container text-center">

        <h1>WELCOME</h1>
        <h3>--- HOME PAGE ---</h3>

    </div>
</div>

<div class="Container text-center">

    <p>Please select the desired action from options given below:</p>
    <a href="/login"><button class="btn btn-primary">LOGIN</button></a><p></p>
    <a href="/signup"><button class="btn btn-primary">SIGNUP</button></a><p></p>

</div>

<%- include('include/_footer') %>