
<%- include('include/_header') %>

<div class="jumbotron">
    <div class="container text-center">

        <h1>WELCOME</h1>
        <h3>--- USERS INVENTORY PAGE ---</h3>

    </div>

    <div class="Container container-sm text-center">

        <a href="/users/add-user"><button class="btn btn-primary mb-2">Add</button></a>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-primary">LOGOUT</button>
        </form>

    </div>

    <% if (errorMessage) {%>
        <div class="error-message"><%= errorMessage %></div>
    <% } %>

</div>

<div class="Container container-sm text-center">
    <div class="table-responsive-sm">

        <%- include('include/_showData') %>

    </div>
</div>

<%- include('include/_footer') %>
