
<%- include('include/_header') %>

<section>

    <div class="mask p-5 bg-image" style="
            background-image: url('https://mdbootstrap.com/img/new/textures/full/252.jpg');
            height: 100%;
            position: fixed;
            "></div>
    <!-- Background image -->

    <%- include('include/_usersPgNavbar') %>

    <div class="gradient-custom-2 h-100">
        <div class="d-flex align-items-center h-100 mt-5">
            <%- include('include/_usersTable') %>
        </div>
    </div>

    <div class="container p-4 pb-0 text-center">
        <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Talha-Rauf" role="button"
            ><i class="fab fa-github"></i
                ></a>
        </section>

    </div>

</section>

<%- include('include/_footer') %>

