<div class="card mb-4">
    <div class="card-body">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-12">
                <h2 class="pt-3 pb-2 text-center font-bold font-up">DID YOU KNOW <i class="fa fa-question-circle"></i></h2>

                <div class="text-center">
                    <p>Recent studies show that around 70% of coding jobs have nothing to do with technology at all.</p>
                </div>

            </div>
            <!-- Grid column -->
        </div>
    </div>
</div>