
<select name="condition" class="form-select" aria-label="Default select example">

    <option name="condition">Condition</option>

    <option <%= gpu.condition === 'Pristine' ? 'selected' : '' %> name="condition" value="Pristine">
        Pristine
    </option>

    <option <%= gpu.condition === 'New' ? 'selected' : '' %> name="condition" value="New">
        New
    </option>

    <option <%= gpu.condition === 'Used' ? 'selected' : '' %> name="condition" value="Used">
        Used
    </option>

    <option <%= gpu.condition === 'Repaired' ? 'selected' : '' %> name="condition" value="Repaired">
        Repaired
    </option>

</select>
