</body>
<footer>

    <div class="jumbotron text-center">
        <p>Author: Talha Rauf</p>
        <p><a href="https://github.com/Talha-Rauf">--> GitHub Link <--</a></p>
        <p>...</p>
    </div>

</footer>
</html>