<!--In case of wrong username or password, error msg will appear-->
<% if (errorMessage) {%>
    <%= errorMessage %>
<% } %>
<hr>

<div class="form-outline mb-4">
    <input id="typeEmail" type="email" class="form-control" name="email" required>
    <label for="typeEmail" class="form-label">Email</label>
</div>

<div class="form-outline mb-4">
    <input id="typePassword" type="password" class="form-control" name="password" required>
    <label for="typePassword" class="form-label">Password</label>
</div>

<button class="btn btn-dark btn-lg btn-rounded px-4 mr-2" type="submit">LOGIN</button>
<a href="/"><button class="btn btn-dark btn-lg btn-rounded px-4" type="button">BACK</button></a>