
<select class="form-select" aria-label="Default select example">

    <option name="" selected>Condition of GPU</option>

    <option name="condition" value="Pristine">
        Pristine
    </option>

    <option name="condition" value="New">
        New
    </option>

    <option name="condition" value="Used">
        Used
    </option>

    <option name="condition" value="Repaired">
        Repaired
    </option>

</select>