
<div class="card mb-4">
    <div class="card-body">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-12 text-center">
                <h2 class="pt-3 pb-2 text-center font-bold font-up">Session Details <i class="fa fa-user"></i></h2>

                <img src="<%=user.avatarURL%>" class="rounded-circle shadow-4" style="width: 150px; height: 150px;" alt="Avatar" />
                <div class="text-center">
                    <p>Logged in as</p>
                    <p class="font-italic">" <%= user.email %> "</p>
                </div>

                <% if (user.role === 'admin') {%>
                    <a href="/users"><button class="btn btn-primary px-3 me-2 mb-3" type="button">User Inventory</button></a>
                <%}%>


            </div>
            <!-- Grid column -->
        </div>
    </div>
</div>