
html,
body,
.myForm {
    height: 100%;
}

/*@media only screen and (max-width:1024px){*/
/*    table, thead, tbody, th, td, tr{*/
/*        display: block;*/
/*    }*/
/*}*/

@media (min-width: 560px) and (max-width: 750px) {
    html,
    body,
    .myForm {
        height: 830px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    .myForm {
        height: 830px;
    }
}

.gradient-custom {

    background: #667eea;

    background: -webkit-linear-gradient(to bottom, rgba(102, 126, 234, 1), rgba(118, 75, 162, 1));

    background: linear-gradient(to bottom, rgba(102, 126, 234, 1), rgba(118, 75, 162, 1));
}
